body {
	background-image:url('../images/background.png');
}
body > div {
	padding-left: 130px;
}
.articulo {
	width: 250px;
	text-align: center;
	float: left;
    margin-right: 20px;
	line-height: 150%;
	font-size: 150%
}
#numeros {
    margin-left: 20px;
    margin-top: 70px;
}
#fotos {
	float: right;
}
#quiero {
	float: left;
}
header > p{
	text-align: center;
	line-height: 60px; 
}
#viaje {
}
#mi_slider {
	margin-left: 150px;
}
#footer {
	margin-top: 150px;
    background-color: black;
    color: white;
	text-align: center;
}
div.clear {
	clear: both;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}