/*Página de puzzle*/
.jqPuzzle{
	background-color: #fff !important;
	border: none !important;
	width:734px;
	height:485px;
	margin-right:auto !important;
	margin-left:auto !important;
	margin-top:2em;
}

/*Página quiz*/
#introduccion{
	margin-right:auto;
	margin-left:auto; 
}

.pregunta{
	width:100%;
	margin-top:2em;
}
.ui-btn-inner {
    display: block;
    font-size: 20px;
    min-width: 0.75em;
    overflow: hidden;
    padding: 1em 20px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ui-li-thumb{
	padding: 20px;
}
.question{
	font-size:30px;
}
.respuestas{
	width:100%;
	margin-top:5em;
	margin-bottom:2em;
}
.respuestas ul li{
	height: 6em;
}
.respuestas ul li a > h2{
	font-size:26px;
}

.quizPopup{
	padding: 6em 5em;
}